.category-card {
  display: flex;
  justify-content: center;
}

h3 {
  color: #dd0f00;
  margin-top: 10px;
  font-weight: bold;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card-body ul li {
  font-size: 10px;
}